@font-face {
  font-family: Montserrat;
  src: url("assets/fonts/static/Montserrat-Regular.ttf");
  font-weight: 300;
}

@font-face {
  font-family: Montserrat;
  src: url("assets/fonts/static/Montserrat-Thin.ttf");
  font-weight: 100;
}

@font-face {
  font-family: Montserrat;
  src: url("assets/fonts/static/Montserrat-Bold.ttf");
  font-weight: 600;
}

* {
  box-sizing: border-box;
}

.header {
border: 1px solid red;
}

.main {
border: 1px solid red;
min-height: 100vh
}

.footer {
border: 1px solid red;
}