@font-face {
  font-family: "Montserrat";
  src: url("assets/fonts/Montserrat/static/Montserrat-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Montserrat";
  src: url("assets/fonts/Montserrat/static/Montserrat-Thin.ttf");
  font-weight: 100;
}

@font-face {
  font-family: "Montserrat";
  src: url("assets/fonts/Montserrat/static/Montserrat-Bold.ttf");
  font-weight: 600;
}

* {
  box-sizing: border-box;
  font-family: Montserrat, sans-serif;
  font-size: 20px;
}

.nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  font-weight: 600;
  flex-wrap: wrap;
}

a:hover {
  font-size: 20px;
  transition: 0.3s;
  color: rgb(150, 7, 7);
}

.nav-item > a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 20px;
}

.nav-link {
  padding: 0 20px;
  line-height: 50px;
}

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.section-title-name {
  color: #252525;
  font-size: 68px;
}

.section-title {
  color: rgb(37, 37, 37);
  font-size: 28px;
}

.section-intro {
  display: flex;
  color: rgb(37, 37, 37);
  font-size: 28px;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px 200px;
}

.header {
  background: linear-gradient(
      rgba(35, 165, 177, 0.2) 40%,
      rgba(255, 255, 255, 0) 40%
    ),
    linear-gradient(rgba(14, 62, 184, 0.7), rgba(255, 255, 255, 0));
  background-size: 1em 1em, 100%;
  background-color: rgb(20, 21, 34);
}

.main {
  flex: 1;
}

.footer {
  display: flex;
  justify-content: center;
  background-color: rgb(12, 45, 130);
  color: aliceblue;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 1440px;
  align-items: center;
  justify-content: center;
  gap: 60px;
}

.main-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 1440px;
  margin: 0 auto;
  padding: 50px;
}

.section {
  width: 50%;
}

@media (max-width: 768px) {
  .section {
    width: 100%;
  }
}

.avatar {
  width: 300px;
  border-radius: 20%;
}

.RS {
  width: 100px;
  height: 100%;
}

.introduction {
  order: 2;
}

.link-git {
  color: aliceblue;
  text-decoration: none;
}
